<form action="/users/edit/{{userIndex}}" method="post">
<input name="name" value="{{user.name}}" type="text">
<input name="id" value="{{users.id}}" type="text">
<button type="submit">Edit</button>
</form>